{% extends 'account/base.jinja' %}

{% block head_title %}
  {{ _('Reset Password') }}
{% endblock head_title %}

{% block content %}
  <div class='password-reset-container'>
    <h1>{{ _('Reset Password') }}</h1>

    {% if form.errors %}
      <div class='alert alert-danger'>
        <i class='fa fa-exclamation-triangle'></i>
        {{ _('Please correct the errors below.') }}
      </div>
    {% endif %}

    {% if token_fail %}
      <div class='alert alert-warning'>
        <i class='fa fa-warning'></i>
        <p>
          {{ _('The password reset link was invalid, possibly because it has already been used.') }}
          {{ _('Please request a new password reset link below.') }}
        </p>
      </div>

      <div class='btn-group'>
        <a href="{{ url_for('account_reset_password') }}" class='btn btn-primary'>
          <i class='fa fa-envelope'></i>
          {{ _('Request Password Reset') }}
        </a>

        <a href="{{ url_for('eventyay_common:auth.login') }}" class='btn btn-default'>
          <i class='fa fa-sign-in'></i>
          {{ _('Back to Login') }}
        </a>
      </div>
    {% else %}
      <p class='description'>
        {{ _('Please enter your new password twice so we can verify you typed it in correctly.') }}
      </p>

      <form method='post' action="{{ action_url }}" class='password-form'>
        <input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}'>

        <div class='form-group'>
          <label for='{{ form.password1.id_for_label }}'>
            {{ form.password1.label }}
            {% if form.password1.field.required %}<span class='required'>*</span>{% endif %}
          </label>
          {{ form.password1 }}
          {% if form.password1.errors %}
            <div class='field-error'>
              {% for error in form.password1.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% endif %}
          {% if form.password1.help_text %}
            <div class='field-help'>{{ form.password1.help_text | safe }}</div>
          {% endif %}
        </div>

        <div class='form-group'>
          <label for='{{ form.password2.id_for_label }}'>
            {{ form.password2.label }}
            {% if form.password2.field.required %}<span class='required'>*</span>{% endif %}
          </label>
          {{ form.password2 }}
          {% if form.password2.errors %}
            <div class='field-error'>
              {% for error in form.password2.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% endif %}
          {% if form.password2.help_text %}
            <div class='field-help'>{{ form.password2.help_text | safe }}</div>
          {% endif %}
        </div>

        <button type='submit' class='btn btn-primary btn-lg'>
          <i class='fa fa-lock'></i>
          {{ _('Reset Password') }}
        </button>

        <div class='additional-links'>
          <a href="{{ url_for('eventyay_common:auth.login') }}" class='btn btn-default'>
            <i class='fa fa-sign-in'></i>
            {{ _('Back to Login') }}
          </a>
        </div>
      </form>
    {% endif %}
  </div>
{% endblock content %}
