{% extends "pretixpresale/organizers/base.html" %}
{% load i18n %}
{% load rich_text %}
{% load eventurl %}
{% load urlreplace %}
{% block pagetitle %}{% trans "Event overview" %}{% endblock %}
{% block page_content %}
    {% if organizer_homepage_text %}
        <div>
            {{ organizer_homepage_text | rich_text }}
        </div>
    {% endif %}
    <div class="organizer-list-header">
        <h2 class="content-header">{{ date|date:"F Y" }}</h2>
    </div>
    <form class="form-inline organizer-calendar-nav" method="get" id="monthselform" action="{% eventurl request.organizer "presale:organizer.index" %}">
        {% for f, v in request.GET.items %}
            {% if f != "month" and f != "year" %}
                <input type="hidden" name="{{ f }}" value="{{ v }}">
            {% endif %}
        {% endfor %}
        <div class="organizer-calendar-filter-row">
            <div class="calendar-nav-prev">
                {% if has_before %}
                    <a href="?{% url_replace request "year" before.year "month" before.month %}" class="btn outline">
                        <span class="fa fa-arrow-left" aria-hidden="true"></span>
                        {{ before|date:"F Y" }}
                    </a>
                {% endif %}
            </div>

            <div class="organizer-calendar-selects">
                <select name="month" class="form-control" aria-label="{% translate 'Month' %}">
                    {% for m in months %}
                        <option value="{{ m|date:"m" }}" {% if m == date %}selected{% endif %}>{{ m|date:"F" }}</option>
                    {% endfor %}
                </select>
                <select name="year" class="form-control" aria-label="{% translate 'Year' %}">
                    {% for y in years %}
                        <option value="{{ y }}" {% if y == date.year %}selected{% endif %}>{{ y }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="js-hidden btn outline">
                    {% trans "Go" %}
                </button>
            </div>

            <div class="calendar-nav-next">
                {% if has_after %}
                    <a href="?{% url_replace request "year" after.year "month" after.month %}" class="btn outline">
                        {{ after|date:"F Y" }}
                        <span class="fa fa-arrow-right" aria-hidden="true"></span>
                    </a>
                {% endif %}
            </div>
        </div>
    </form>
    {% include "pretixpresale/fragment_calendar.html" with show_avail=request.organizer.settings.event_list_availability %}

    {% if multiple_timezones %}
        <div class="alert alert-info">
            {% blocktrans trimmed %}
                Note that the events in this view are in different timezones.
            {% endblocktrans %}
        </div>
    {% endif %}
{% endblock page_content %}
