{% extends "pretixpresale/organizers/base.html" %}
{% load i18n %}
{% load rich_text %}
{% load eventurl %}
{% load urlreplace %}
{% block pagetitle %}{% trans "Event overview" %}{% endblock %}
{% block page_content %}
    {% if organizer_homepage_text %}
        <div>
            {{ organizer_homepage_text | rich_text }}
        </div>
    {% endif %}
    <div class="organizer-list-header">
        <h2 class="content-header">{% blocktrans with week=date.isocalendar.1 year=date.isocalendar.0 %}Week {{ week }}, {{ year }}{% endblocktrans %}</h2>
    </div>
    <form class="form-inline organizer-calendar-nav" method="get" id="monthselform"
          action="{% eventurl request.organizer "presale:organizer.index" %}">
        {% for f, v in request.GET.items %}
            {% if f != "week" and f != "year" %}
                <input type="hidden" name="{{ f }}" value="{{ v }}">
            {% endif %}
        {% endfor %}
        <div class="organizer-calendar-filter-row">
            <div class="calendar-nav-prev">
                {% if has_before %}
                    <a href="?{% url_replace request "year" before.isocalendar.0 "week" before.isocalendar.1 %}"
                       class="btn outline">
                        <span class="fa fa-arrow-left" aria-hidden="true"></span>
                        {{ before|date:week_format }}
                    </a>
                {% endif %}
            </div>

            <div class="organizer-calendar-selects organizer-calendar-selects-week">
                <select name="week" class="form-control select-calendar-week-short" aria-label="{% translate 'Week' %}">
                    {% for w in weeks %}
                        <option value="{{ w.0.isocalendar.1 }}"
                                {% if w.0.isocalendar.1 == date.isocalendar.1 %}selected{% endif %}>{% trans "W" %} {{ w.0.isocalendar.1 }}
                            ({{ w.0|date:"d-M-Y" }} – {{ w.1|date:"d-M-Y" }})
                        </option>
                    {% endfor %}
                </select>
                <select name="year" class="form-control" aria-label="{% translate 'Year' %}">
                    {% for y in years %}
                        <option value="{{ y }}" {% if y == date.isocalendar.0 %}selected{% endif %}>{{ y }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="js-hidden btn outline">
                    {% trans "Go" %}
                </button>
            </div>

            <div class="calendar-nav-next">
                {% if has_after %}
                    <a href="?{% url_replace request "year" after.isocalendar.0 "week" after.isocalendar.1 %}"
                       class="btn outline">
                        {{ after|date:week_format }}
                        <span class="fa fa-arrow-right" aria-hidden="true"></span>
                    </a>
                {% endif %}
            </div>
        </div>
    </form>
    {% include "pretixpresale/fragment_week_calendar.html" with show_avail=request.organizer.settings.event_list_availability %}

    {% if multiple_timezones %}
        <div class="alert alert-info">
            {% blocktrans trimmed %}
                Note that the events in this view are in different timezones.
            {% endblocktrans %}
        </div>
    {% endif %}
{% endblock page_content %}
