{% load i18n %}
{% load rules %}
{% load event_tags %}
{% load eventsignal %}
{% load staff_session %}

{% with nav_context=nav_context|default:"agenda" %}
    {% if current_event and current_event.locales and not is_html_export %}
        <details id="locale-dropdown-label" class="dropdown locales" aria-haspopup="menu" role="menu">
        {% with active_event_lang=request.event_language|default_if_none:current_event.locale|default_if_none:request.LANGUAGE_CODE %}
        <summary aria-label="{% translate 'Language' %} - {{ active_event_lang|slice:':2'|title }}/{{ request.LANGUAGE_CODE|slice:':2'|title }}">
            <i class="fa fa-globe" aria-hidden="true"></i>
            <span class="hidden-xs" aria-hidden="true">{{ active_event_lang|slice:':2'|title }}/{{ request.LANGUAGE_CODE|slice:':2'|title }}</span>
            <i class="fa fa-caret-down ml-1 hidden-xs" aria-hidden="true"></i>
        </summary>
            <div id="locale-dropdown" class="dropdown-content dropdown-content-s{% if rtl %}e{% else %}w{% endif %}">
                <div class="language-enforce-bar">
                    <span id="language-enforce-label" class="language-enforce-label">{% translate "Link languages" %}</span>
                    <form method="get" action="{% url 'presale:locale.event' %}" class="language-enforce-form">
                        <input type="hidden" name="enforce_ui_language" value="{{ request.event_language_enforce_ui|yesno:'0,1' }}">
                        <input type="hidden" name="event" value="{{ current_event.slug }}">
                        <input type="hidden" name="organizer" value="{{ current_event.organizer.slug }}">
                        <input type="hidden" name="next" value="{{ request.get_full_path }}">
                        <button type="submit"
                                class="language-enforce-toggle {% if request.event_language_enforce_ui %}active{% endif %}"
                                role="switch"
                                aria-checked="{% if request.event_language_enforce_ui %}true{% else %}false{% endif %}"
                                aria-labelledby="language-enforce-label">
                            <span class="language-enforce-toggle-knob" aria-hidden="true"></span>
                        </button>
                    </form>
                    <span class="language-enforce-help"
                          tabindex="0"
                          aria-label="{% translate 'Help: Link languages' %}"
                          aria-describedby="language-enforce-tooltip">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        <span id="language-enforce-tooltip" class="language-enforce-tooltip" role="tooltip">
                            {% translate "When enabled, event and UI languages are linked. Selecting one updates the other whenever that language is available for this event." %}
                        </span>
                    </span>
                </div>
                <div class="language-columns">
                    <div class="language-column">
                        <p class="dropdown-heading">{% translate "Event language" %}</p>
                        <div class="language-column-scroll">
                        {% for l, name in current_event.named_locales %}
                            <a href="{% url 'presale:locale.event' %}?locale={{ l }}&event={{ current_event.slug }}&organizer={{ current_event.organizer.slug }}&next={{ request.path }}{% if request.META.QUERY_STRING %}%3F{{ request.META.QUERY_STRING|urlencode }}{% endif %}"
                               class="dropdown-item {% if l|lower == active_event_lang|lower %}active{% endif %}"
                               role="menuitem"
                               tabindex="-1">{{ name }}</a>
                        {% endfor %}
                        </div>
                    </div>
                    <div class="language-column">
                        <p class="dropdown-heading">{% translate "UI language" %}</p>
                        <div class="language-column-scroll">
                            <form method="post" action="{% url 'eventyay_common:account.locale' %}">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.get_full_path }}">
                                <input type="hidden" name="event" value="{{ current_event.slug }}">
                                <input type="hidden" name="organizer" value="{{ current_event.organizer.slug }}">
                                {% for option in language_options %}
                                    <button type="submit"
                                            name="locale"
                                            value="{{ option.code }}"
                                            class="dropdown-item {% if option.code|lower == request.LANGUAGE_CODE|lower %}active{% endif %}"
                                            role="menuitem"
                                            tabindex="-1">{{ option.label }}</button>
                                {% endfor %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endwith %}
        </details>
    {% endif %}

    {% if request.user.is_authenticated and not is_html_export %}
        {% has_organizer_access as can_manage_organizer %}
        <details id="user-dropdown-label" class="dropdown" aria-haspopup="menu" role="menu">
            {% if current_event %}
                {% is_event_organiser request.user request current_event as can_see_orga_area %}
            {% endif %}
            {% with user_label=request.user|short_user_label %}
            <summary aria-label="{% translate 'User menu' %} - {{ user_label }}">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span class="hidden-xs" aria-hidden="true">{{ user_label }}</span>
                <i class="fa fa-caret-down ml-1 hidden-xs" aria-hidden="true"></i>
            </summary>
            {% endwith %}
            <div id="user-dropdown" class="dropdown-content dropdown-content-s{% if rtl %}e{% else %}w{% endif %}">
                <a href="{% url 'eventyay_common:dashboard' %}" class="dropdown-item" role="menuitem" tabindex="-1">
                    <i class="fa fa-dashboard"></i>
                    {% translate "Dashboard" %}
                </a>
                <hr>
                <a href="{% url 'eventyay_common:orders' %}" class="dropdown-item" role="menuitem" tabindex="-1">
                    <i class="fa fa-shopping-cart"></i>
                    {% translate "My orders" %}
                </a>
                {% if current_event %}
                    <a href="{% url 'eventyay_common:orders' %}?event={{ current_event.pk }}" class="dropdown-item" role="menuitem" tabindex="-1">
                        <i class="fa fa-ticket"></i>
                        {% translate "My tickets" %}
                    </a>
                    {% if current_event.talks_published %}
                        {% user_has_submissions current_event as has_cfp_submissions %}
                        {% if has_cfp_submissions %}
                            <hr>
                            <a href="{% url 'cfp:event.user.submissions' organizer=current_event.organizer.slug event=current_event.slug %}" class="dropdown-item" role="menuitem" tabindex="-1">
                                <i class="fa fa-sticky-note-o"></i>
                                {% translate "My proposals" %}
                            </a>
                            <a href="{{ current_event.urls.user }}" class="dropdown-item" role="menuitem" tabindex="-1">
                                <i class="fa fa-address-card-o"></i>
                                {% translate "Speaker profile" %}
                            </a>
                            <a href="{{ current_event.urls.user_mails }}" class="dropdown-item" role="menuitem" tabindex="-1">
                                <i class="fa fa-envelope"></i>
                                {% translate "Speaker Emails" %}
                            </a>
                        {% endif %}
                    {% endif %}
                    {% eventsignal current_event "eventyay.common.signals.user_menu_items" request=request %}
                {% endif %}
                <hr>
                <a href="{% url 'eventyay_common:account.general' %}" class="dropdown-item" role="menuitem" tabindex="-1">
                    <i class="fa fa-user"></i>
                    {% translate "Account" %}
                </a>
                {% if current_event and can_see_orga_area %}
                    <hr>
                    <a href="{% url 'eventyay_common:event.index' organizer=current_event.organizer.slug event=current_event.slug %}" class="dropdown-item" role="menuitem" tabindex="-1">
                        <i class="fa fa-gears"></i>
                        {% translate "Organizer area" %}
                    </a>
                {% elif request.organizer and can_manage_organizer %}
                    <hr>
                    <a href="{% url 'eventyay_common:organizer.dashboard' organizer=request.organizer.slug %}" class="dropdown-item" role="menuitem" tabindex="-1">
                        <i class="fa fa-gears"></i>
                        {% translate "Organizer area" %}
                    </a>
                {% endif %}
                <hr>
                <form action="{% url 'common:auth.logout' %}" method="post">
                    {% csrf_token %}
                    <button class="dropdown-item" role="menuitem" type="submit" tabindex="-1">
                        <i class="fa fa-sign-out"></i>
                        {% translate "Logout" %}
                    </button>
                </form>
            </div>
        </details>
    {% elif not subheader_login_link_disabled and not is_html_export %}
        <a href="{% url 'eventyay_common:auth.login' %}?next={{ request.path|urlencode }}" class="login-link" aria-label="{% translate 'Login' %}">
            <i class="fa fa-user nav-icon-mobile" aria-hidden="true"></i>
            <span class="mobile-hide-text">{% translate "Login" %}</span>
        </a>
    {% endif %}
{% endwith %}
