{% load i18n %}
{% load rich_text %}

{% if answer.question.variant == "file" %}
    <i class="fa fa-file-o"></i>
    {% if answer.answer_file %}
        <a href="{{ answer.answer_file.url }}">{{ answer.answer_file }}</a>
    {% else %}
        {% translate "No file provided" %}
    {% endif %}
{% elif answer.question.variant == "boolean" %}
    {{ answer.boolean_answer|yesno }}
{% elif answer.question.variant == "video" or answer.question.variant == "url" %}
    {% if answer.answer %}
        <a href="{{ answer.answer }}" target="_blank" rel="noopener noreferrer">{{ answer.answer }}</a>
    {% else %}
        {% translate "No response" %}
    {% endif %}
{% elif answer %}
    {{ answer.answer|rich_text }}
{% else %}
    {% translate "No response" %}
{% endif %}
