{% extends "pretixcontrol/item/base.html" %}
{% load i18n static %}
{% load bootstrap3 %}
{% load formset_tags %}
{% block custom_header %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% static 'vendored/cropperjs/cropper.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'eventyay-common/css/settings.css' %}">
{% endblock %}
{% block inside %}
    <form action="" method="post" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-xs-12 col-lg-10">
                <div class="tabbed-form">
                    <fieldset>
                        <legend>{% trans "General" %}</legend>
                        {% bootstrap_field form.active layout="control" %}
                        {% bootstrap_field form.name layout="control" %}
                        <div class="internal-name-wrapper">
                            {% bootstrap_field form.internal_name layout="control" %}
                        </div>
                        {% bootstrap_field form.category layout="control" %}

                        <div class="form-group">
                            <label class="col-md-3 control-label">{% trans "Product type" %}</label>
                            <div class="col-md-9">
                                <div class="big-radio radio">
                                    <label>
                                        <input type="radio" value="on" name="{{ form.admission.html_name }}" {% if form.admission.value %}checked{% endif %}>
                                        <span class="fa fa-fw fa-user"></span>
                                        <strong>{% trans "Admission product" %}</strong><br>
                                        <div class="help-block">
                                            {% blocktrans trimmed %}
                                                Every purchase of this product represents one person who is allowed to enter your event.
                                                By default, pretix will only ask for attendee information and offer ticket downloads for these products.
                                            {% endblocktrans %}
                                        </div>
                                        <div class="help-block">
                                            {% blocktrans trimmed %}
                                                This option should be set for most things that you would call a "ticket". For product add-ons or bundles, this should
                                                be set on the main ticket, except if the add-on products or bundled products represent additional people (e.g. group bundles).
                                            {% endblocktrans %}
                                        </div>
                                    </label>
                                </div>
                                <div class="big-radio radio">
                                    <label>
                                        <input type="radio" value="" name="{{ form.admission.html_name }}" {% if not form.admission.value %}checked{% endif %}>
                                        <span class="fa fa-fw fa-cube"></span>
                                        <strong>{% trans "Non-admission product" %}</strong>
                                        <div class="help-block">
                                            {% blocktrans trimmed %}
                                                A product that does not represent a person. By default, pretix will not ask for attendee information or offer
                                                ticket downloads.
                                            {% endblocktrans %}
                                        </div>
                                        <div class="help-block">
                                            {% blocktrans trimmed %}
                                                Examples: Merchandise, donations, gift cards, add-ons to a main ticket.
                                            {% endblocktrans %}
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>

                        {% bootstrap_field form.description layout="control" %}
                        {% bootstrap_field form.picture layout="control" %}
                        {% bootstrap_field form.require_approval layout="control" %}

                        {% if meta_forms %}
                            <div class="form-group metadata-group">
                                <label class="col-md-3 control-label">{% trans "Meta data" %}</label>
                                <div class="col-md-9">
                                    {% for form in meta_forms %}
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label for="{{ form.value.id_for_label }}">
                                                    {{ form.property.name }}
                                                </label>
                                            </div>
                                            <div class="col-md-8">
                                                {% bootstrap_form form layout="inline" %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </fieldset>
                    <fieldset>
                        <legend>{% trans "Price" %}</legend>
                        {% bootstrap_field form.default_price addon_after=request.event.currency layout="control" %}
                        {% bootstrap_field form.tax_rule layout="control" %}
                        {% bootstrap_field form.free_price layout="control" %}
                        <div id="free-price-bounds" data-display-dependency="#id_free_price">
                            {% bootstrap_field form.free_price_min addon_after=request.event.currency layout="control" %}
                            {% bootstrap_field form.free_price_max addon_after=request.event.currency layout="control" %}
                        </div>
                        {% bootstrap_field form.original_price addon_after=request.event.currency layout="control" %}
                    </fieldset>
                    <fieldset>
                        <legend>{% trans "Availability" %}</legend>
                        {% bootstrap_field form.sales_channels layout="control" %}
                        {% bootstrap_field form.available_from layout="control" %}
                        {% bootstrap_field form.available_until layout="control" %}
                        {% bootstrap_field form.show_quota_left layout="control" %}
                        {% bootstrap_field form.max_per_order layout="control" %}
                        {% bootstrap_field form.min_per_order layout="control" %}
                        {% bootstrap_field form.limit_one_per_user layout="control" %}
                        {% bootstrap_field form.require_voucher layout="control" %}
                        {% bootstrap_field form.hide_without_voucher layout="control" %}
                        {% bootstrap_field form.require_bundling layout="control" %}
                        {% bootstrap_field form.allow_cancel layout="control" %}
                        {% bootstrap_field form.allow_waitinglist layout="control" %}
                        {% bootstrap_field form.hidden_if_available layout="control" %}
                    </fieldset>
                    {% for v in formsets.values %}
                        <fieldset>
                            <legend>{{ v.title }}</legend>
                            {% include v.template with formset=v form=form %}
                        </fieldset>
                    {% endfor %}
                    <fieldset>
                        <legend>{% trans "Tickets & check-in" %}</legend>
                        {% bootstrap_field form.generate_tickets layout="control" %}
                        {% bootstrap_field form.checkin_attention layout="control" %}
                        {% if form.admission.value %}
                            {% bootstrap_field form.admission_validity_mode layout="control" %}
                            {% bootstrap_field form.admission_valid_from layout="control" %}
                            {% bootstrap_field form.admission_valid_until layout="control" %}
                            {% bootstrap_field form.admission_valid_from_offset_minutes layout="control" %}
                            {% bootstrap_field form.admission_valid_until_offset_minutes layout="control" %}
                            <p class="help-block">
                                {% trans "Choose how check-in validity is determined. Fixed times apply explicit start/end datetimes. Event or date modes use the event or assigned date range, optionally shifted by non-negative minute offsets that stay within that window. Offsets may not be negative or extend past the event end. Variations default to the product settings and can overlay individual fields, or explicitly choose no restriction." %}
                            </p>
                        {% endif %}
                    </fieldset>
                    <fieldset id="tab-item-additional-settings">
                        <legend>{% trans "Additional settings" %}</legend>
                        {% bootstrap_field form.issue_giftcard layout="control" %}
                        {% for f in plugin_forms %}
                            {% bootstrap_form f layout="control" %}
                        {% endfor %}
                    </fieldset>
                </div>
                <div class="form-group submit-group">
                    <button type="submit" class="btn btn-primary btn-save">
                        {% trans "Save" %}
                    </button>
                </div>
            </div>
            <div class="col-xs-12 col-lg-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {% trans "Product history" %}
                        </h3>
                    </div>
                    {% include "pretixcontrol/includes/logs.html" with obj=item %}
                </div>
            </div>
        </div>
    </form>

    <!-- Cropper Modal -->
    <div class="modal fade" id="cropperModal" tabindex="-1" role="dialog" aria-labelledby="cropperModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="cropperModalLabel">{% trans "Crop Image" %}</h4>
                </div>
                <div class="modal-body">
                    <div class="img-container">
                        <img id="cropperImage" src="" alt="Picture">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Cancel" %}</button>
                    <button type="button" class="btn btn-primary" id="cropperSaveBtn">{% trans "Apply Crop" %}</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'vendored/cropperjs/cropper.min.js' %}"></script>
    <script src="{% static 'eventyay-common/image_cropper.js' %}"></script>
    <script src="{% static 'eventyay-common/js/event-settings-images.js' %}" type="module"></script>
{% endblock %}
