{% extends "pretixcontrol/admin/base.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap3 %}
{% load urlreplace %}
{% load eventurl %}

{% block title %}{% trans "Task management" %}{% endblock %}

{% block custom_header %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <h1>{% trans "Task management" %}</h1>

    <div class="advanced-filter-search" data-advanced-filter-search>
        <form class="filter-form advanced-filter-search-form" action="" method="get">
            <div class="advanced-filter-search-bar">
                <div class="input-group advanced-filter-search-query-group">
                    <input id="id_name" type="text" name="name" class="form-control" placeholder="{% trans 'Search tasks…' %}" value="{{ filter_form.name.value|default_if_none:'' }}">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">
                            <span class="fa fa-search" aria-hidden="true"></span>
                            {% trans "Search" %}
                        </button>
                    </span>
                </div>

                <div class="advanced-filter-field advanced-filter-field--inline">
                    {% bootstrap_field filter_form.status layout='inline' %}
                </div>
                {% for mf in meta_fields %}
                    <div class="advanced-filter-field advanced-filter-field--inline">
                        {% bootstrap_field mf layout='inline' %}
                    </div>
                {% endfor %}

                <div class="advanced-filter-search-actions">
                    <button class="btn btn-primary" type="submit">
                        <span class="fa fa-filter" aria-hidden="true"></span>
                        {% trans "Filter" %}
                    </button>
                    <a href="{{ request.path }}" class="btn btn-default btn-clear-filter" aria-label="{% trans 'Clear filters' %}" title="{% trans 'Clear filters' %}">
                        <span class="fa fa-eraser" aria-hidden="true"></span>
                        <span class="sr-only">{% trans "Clear filters" %}</span>
                    </a>
                </div>
            </div>
        </form>
    </div>
    <div data-ajax-results-region>
        <div class="table-responsive">
            <table class="table table-condensed table-hover table-quotas">
            <thead>
            <tr>
                <th>{% trans "Id" %}</th>
                <th>{% trans "Task name" %}</th>
                <th>{% trans "Run at" %}</th>
                <th>{% trans "Last run at" %}</th>
                <th>{% trans "Total run count" %}</th>
                <th>{% trans "Enabled" %}</th>
            </tr>
            </thead>
            <tbody>
           {% if tasks %}
               {% for task in tasks %}
                   <tr>
                       <td data-label="{% trans 'Id' %}">
                           <strong>{{ task.id }}</strong>
                       </td>
                       <td data-label="{% trans 'Task name' %}">{{ task.name }}</td>
                       <td data-label="{% trans 'Run at' %}">{{ task.run_at }}</td>
                       <td data-label="{% trans 'Last run at' %}">{{ task.formatted_last_run_at }}</td>
                       <td data-label="{% trans 'Total run count' %}">{{ task.total_run_count }}</td>
                       <td data-label="{% trans 'Enabled' %}">
                           <form method="post" action="{% url 'eventyay_admin:admin.task_management' %}" class="task-form">
                               {% csrf_token %}
                               <input type="hidden" name="task_id" value="{{ task.id }}">
                               <input type="hidden" name="enabled" value="{{ task.enabled|lower }}">
                               <div class="form-check">
                                   <input class="form-check-input task-checkbox"
                                          type="checkbox"
                                          data-form-id="{{ task.id }}"
                                          {% if task.enabled %}checked{% endif %}>
                               </div>
                           </form>
                       </td>
                   </tr>
               {% endfor %}
           {% else %}
               <tr>
                   <td colspan="7" class="text-center mt-5">
                       {% trans "No tasks found." %}
                   </td>
               </tr>
           {% endif %}
            </tbody>
            </table>
        </div>
        {% include "pretixcontrol/pagination.html" %}
    </div>
{% endblock %}
