{% extends "pretixpresale/base.html" %}
{% load i18n %}
{% load static %}
{% load thumb %}
{% load eventurl %}
{% load safelink %}
{% load rich_text %}
{% load compress %}
{% load presale_locale %}
{% load staff_session %}
{% load event_tags %}

{% block container_width %} presale-container{% endblock %}

{% block title %}
    {% if messages %}
        {{ messages|join:" " }} ::
    {% endif %}
    {% block pagetitle %}{{ event.name|event_localize }}{% endblock %}
{% endblock %}

{% block custom_header %}
    {% if event.settings.meta_noindex %}
        <meta name="robots" content="noindex, nofollow">
    {% endif %}
    <meta property="og:type" content="website" />
    {% if social_image %}
        <meta property="og:image" content="{{ social_image }}" />
    {% endif %}
    {{ block.super }}
{% endblock %}

{% block site_notice %}
    {{ block.super }}
    {{ request.organizer.slug|json_script:"organizer_name" }}
    {% private_testmode_tickets_enabled as private_testmode_tickets %}
    {% if private_testmode_tickets %}
        {% if request.user.is_authenticated %}
            {% has_event_perm "base.orga_access_event" request.user request event as is_organiser %}
            {% can_view_tickets as can_view_tickets %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block header_tabs %}
    {% if request.event.settings.organizer_link_back %}
        <a class="header-tab" href="{% eventurl request.organizer "presale:organizer.index" %}">
            &laquo; {% blocktrans trimmed with name=request.organizer.name %}
            Show all events of {{ name }}
        {% endblocktrans %}
        </a>
    {% endif %}
    {% include "common/fragment_nav.html" with nav_context="presale" %}
{% endblock header_tabs %}


{% block alerts %}
    {% block testmode_alert %}
        {% include "pretixpresale/event/fragment_testmode_alert.html" %}
    {% endblock testmode_alert %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% if request.event.settings.banner_text %}
        <div class="site-notice-top">
            {{ request.event.settings.banner_text|event_localize|rich_text }}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% block page_content %}{{ block.super }}{% endblock %}
{% endblock %}

{% block footer %}
    {% if request.event.settings.banner_text_bottom %}
        <div class="site-notice-bottom">
            {{ request.event.settings.banner_text_bottom|event_localize|rich_text }}
        </div>
    {% endif %}
    {% if request.event.testmode %}
        {% has_event_perm "base.orga_access_event" request.user request request.event as is_organiser %}
        {% if request.event.live or is_organiser %}
            {% if request.sales_channel.testmode_supported %}
                <div class="alert alert-testmode alert-warning">
                    <strong>
                        {% trans "This ticket shop is currently in test mode. Please do not perform any real purchases as your order might be deleted without notice." %}
                    </strong>
                </div>
            {% else %}
                <div class="alert alert-testmode alert-danger">
                    <strong>
                        {% trans "Orders made through this sales channel cannot be deleted - even if the ticket shop is in test mode!" %}
                    </strong>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
    {{ block.super }}
{% endblock %}

{% block footernav %}
    {% if request.event.show_contact_form %}
        <button type="button" class="contact-organizer-btn">{% trans "Contact event organizer" %}</button> &middot;
    {% endif %}
    {% if request.event.settings.imprint_url %}
        <a href="{% safelink request.event.settings.imprint_url %}" target="_blank" rel="noopener">{% trans "Imprint" %}</a>
        &middot;
    {% endif %}
{% endblock %}
