{% load i18n %}
{% load bootstrap3 %}
{% load eventurl %}
{% load event_tags %}
{% load presale_locale %}
{% load staff_session %}
{% load nav_tags %}

<nav id='header-nav-bar'>
    <div class="navigation">
        {% has_event_perm "base.orga_access_event" request.user request request.event as is_organiser %}
        {% tickets_tab_visible as show_tickets_tab %}
        {% can_view_talks as show_talks_tab %}
        <a href="{% eventurl request.event 'presale:event.index' %}" id="nav-tab-info" class="header-tab {% if request.resolver_match.url_name == 'event.index' %}underline{% endif %}">
            <i class="fa fa-info-circle"></i> {% translate "Info" %}
        </a>

        {% if request.event.live or is_organiser %}
            {% if show_tickets_tab %}
                {% get_localized_menu_label request.event 'menu_label_tickets' as label %}
                <a href="{% eventurl request.event 'presale:event.index' %}#tickets" id="nav-tab-tickets" class="header-tab">
                    <i class="fa fa-ticket"></i> {{ label }}
                </a>
            {% endif %}
        {% endif %}

        {% if show_talks_tab %}
            {% can_list_schedule request.event as show_schedule_tab %}
            {% if show_schedule_tab and request.event.has_schedule_content %}
                <a href="{{ request.event.talk_schedule_url }}" class="header-tab ">
                    <i class="fa fa-calendar"></i> {% translate "Schedule" %}
                </a>

                <a href="{{ request.event.talk_session_url }}" class="header-tab {% if '/sessions/' in request.path_info %}active{% endif %}">
                    <i class="fa fa-comments-o"></i> {% translate "Sessions" %}
                </a>
            {% endif %}
            {% show_public_speakers_list request.event as show_speakers_list %}
            {% if show_speakers_list %}
                    <a href="{{ request.event.talk_speaker_url }}" class="header-tab {% if '/speakers/' in request.path_info %}active{% endif %}">
                        <i class="fa fa-group"></i> {% translate "Speakers" %}
                    </a>
            {% endif %}
        {% endif %}

        {% if show_talks_tab %}
            {% with cfp=request.event.cfp %}
                {% if cfp.is_open or access_code.is_valid %}
                    <a class="header-tab"
                        href="{% url 'cfp:event.start' event=request.event.slug organizer=request.event.organizer.slug %}">
                        <i class="fa fa-bullhorn"></i> <span class="cfs-full">{% translate "Call for Speakers" %}</span><span class="cfs-short">{% translate "CfS" %}</span>
                    </a>
                {% elif not cfp.settings.hide_after_deadline %}
                    <a class="header-tab"
                        href="{% url 'cfp:event.start' event=request.event.slug organizer=request.event.organizer.slug %}">
                        <i class="fa fa-bullhorn"></i> <span class="cfs-full">{% translate "Call for Speakers (Closed)" %}</span><span class="cfs-short">{% translate "CfS" %}</span>
                    </a>
                {% endif %}
            {% endwith %}
        {% endif %}

        {% if show_online_video_link|default:False %}
            <div class="video-link">
                {% get_localized_menu_label request.event 'menu_label_join_video' as label %}
                <a id="join-event-link" class="header-tab join-video-link join-event {% if request.path_info == '/onlinevideo' %}underline{% endif %}"
                    href="{% eventurl request.event 'presale:event.onlinevideo.join' %}">
                    <i class="fa fa-video-camera"></i> <span class="mobile-hide-text">{{ label }}</span>
                </a>
            </div>
        {% endif %}
    </div>
</nav>
