{% load i18n %}
<dialog id="share-dialog" role="dialog" aria-labelledby="share-dialog-label" class="startpage-share-dialog">
    <div class="modal-card">
        <div class="modal-card-content">
            <div class="share-header">
                <h3 id="share-dialog-label">{% trans "Share this event" %}</h3>
                <button type="button" id="share-dialog-close" class="btn btn-default btn-xs" aria-label="{% trans 'Close' %}">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
            <div class="share-body">
                <div class="share-social-links">
                    <a id="share-facebook" href="#" target="_blank" rel="noopener noreferrer" class="btn btn-facebook" aria-label="{% trans 'Share on Facebook' %}"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a id="share-x" href="#" target="_blank" rel="noopener noreferrer" class="btn btn-x" aria-label="{% trans 'Share on X' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" style="vertical-align: middle;" aria-hidden="true" focusable="false">
                          <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865l8.875 11.633Z"/>
                        </svg>
                    </a>
                    <a id="share-linkedin" href="#" target="_blank" rel="noopener noreferrer" class="btn btn-linkedin" aria-label="{% trans 'Share on LinkedIn' %}"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a id="share-reddit" href="#" target="_blank" rel="noopener noreferrer" class="btn btn-reddit" aria-label="{% trans 'Share on Reddit' %}"><i class="fa fa-reddit-alien" aria-hidden="true"></i></a>
                    <button type="button" id="share-native" class="btn btn-native" aria-label="{% trans 'More share options' %}"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
                </div>
                <div class="input-group share-input-group">
                    <label for="share-url-input" class="sr-only">{% trans 'Event link' %}</label>
                    <input type="text" id="share-url-input" class="form-control" readonly>
                    <span class="input-group-btn">
                        <button id="share-copy-btn" class="btn btn-inverse" type="button" data-copied-label="{% trans 'Copied!' %}">
                            {% trans 'Copy' %} <i class="fa fa-copy" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</dialog>
