{% load i18n %}

{# Permission check has to take place outside of this template, so we don’t run it a gazillion times in list views #}

<form action="{{ speaker.orga_urls.toggle_arrived }}?next={{ request.path|urlencode }}" method="POST" class="d-inline">
    {% csrf_token %}
    <button type="submit" class="btn {% if speaker.has_arrived %}btn-speaker-not-arrived{% else %}btn-speaker-arrived{% endif %}">
        {% if speaker.has_arrived %}
            {% translate "Mark speaker as not arrived" %}
        {% else %}
            {% translate "Mark speaker as arrived" %}
        {% endif %}
    </button>
</form>
