{% extends "orga/includes/submission_filter_form.html" %}
{% load i18n %}

{% block form_attrs %} id="review-filter-form"{% endblock form_attrs %}

{% block extra_filter_fields %}
    {% if max_review_count and max_review_count > 1 %}
        <div id="range-wrapper">
            <input type="text" id="review-count" name="review-count" data-max="{{ max_review_count }}"/>
            <label for="review-count" class="pt-0">{% translate "Number of reviews" %}</label>
        </div>
    {% endif %}
{% endblock extra_filter_fields %}

{% block before_form %}
    <div class="review-toolbar mb-2 d-flex">
        <details class="dropdown flip fix-height" aria-haspopup="menu" role="menu">
            <summary class="btn btn-outline-info">
                {% translate "Columns" %} <i class="fa fa-caret-down ml-1"></i>
            </summary>
            <div id="column-select" class="dropdown-content dropdown-content-s{% if rtl %}e{% else %}w{% endif %}">
                {% if can_see_all_reviews %}
                    <li class="dropdown-item form-check" role="menuitem" tabindex="-1">
                        <input type="checkbox" id="col-score-avg" checked autocomplete=off>
                        <label for="col-score-avg">{% translate "Score" %}</label>
                    </li>
                {% endif %}
                {% if can_review or submissions_reviewed %}
                    <li class="dropdown-item form-check" role="menuitem" tabindex="-1">
                        <input type="checkbox" id="col-score-user" checked autocomplete=off>
                        <label for="col-score-user">{% translate "Your score" %}</label>
                    </li>
                {% endif %}
                {% if can_review or submissions_reviewed %}
                    <li class="dropdown-item form-check" role="menuitem" tabindex="-1">
                        <input type="checkbox" id="col-review-count" checked autocomplete=off>
                        <label for="col-review-count">{% translate "Reviews" %}</label>
                    </li>
                {% endif %}
                {% if can_view_speakers %}
                    <li class="dropdown-item form-check" role="menuitem" tabindex="-1">
                        <input type="checkbox" id="col-speakers" checked autocomplete=off>
                        <label for="col-speakers">{{ phrases.schedule.speakers }}</label>
                    </li>
                {% endif %}
                {% for question in short_questions %}
                    <li class="dropdown-item form-check" role="menuitem" tabindex="-1">
                        <input type="checkbox" id="col-question-{{ question.id }}" autocomplete=off>
                        <label for="col-question-{{ question.id }}">{% translate "Custom field" %}: {{ question.question }}</label>
                    </li>
                {% endfor %}
                <li class="dropdown-item form-check" role="menuitem" tabindex="-1">
                    <input type="checkbox" id="col-track" checked autocomplete=off>
                    <label for="col-track">{% translate "Track" %}</label>
                </li>
                <li class="dropdown-item form-check" role="menuitem" tabindex="-1">
                    <input type="checkbox" id="col-duration" autocomplete=off>
                    <label for="col-duration">{% translate "Duration" %}</label>
                </li>
                <li class="dropdown-item form-check" role="menuitem" tabindex="-1">
                    <input type="checkbox" id="col-subtype" autocomplete=off>
                    <label for="col-subtype">{% translate "Session type" %}</label>
                </li>
                {% if filter_form.tags %}
                    <li class="dropdown-item form-check" role="menuitem" tabindex="-1">
                        <input type="checkbox" id="col-tags" checked autocomplete=off>
                        <label for="col-tags">{% translate "Tags" %}</label>
                    </li>
                {% endif %}
                <li class="dropdown-item form-check" role="menuitem" tabindex="-1">
                    <input type="checkbox" id="col-state" checked autocomplete=off>
                    <label for="col-state">{% translate "State" %}</label>
                </li>
            </div>
        </details>
        {% if can_change_submissions %}
            <details class="dropdown flip fix-height" role="menu">
                <summary class="btn btn-outline-info">
                    {% translate "Actions" %} <i class="fa fa-caret-down ml-1"></i>
                </summary>
                <div class="dropdown-content dropdown-content-s{% if rtl %}e{% else %}w{% endif %}">
                    <a class="dropdown-item" href="{{ request.event.orga_urls.reviews }}regenerate" role="menuitem" tabindex="-1">
                        <i class="fa fa-link"></i> {% translate "Regenerate decision emails" %}
                    </a>
                    <a class="dropdown-item" href="{{ request.event.orga_urls.apply_pending }}?next={{ request.path|urlencode }}" role="menuitem" tabindex="-1">
                        <i class="fa fa-link"></i> {% translate "Apply pending changes" %}
                    </a>
                </div>
            </details>
        {% endif %}
    </div>
{% endblock before_form %}
