{% extends "common/base_public.html" %}
{% load i18n %}

{% block custom_header %}
    {% block cfp_header %}{% endblock cfp_header %}
{% endblock custom_header %}

{% block body_attrs %}{{ block.super }} class="page-cfp"{% endblock %}

{% block header_tabs %}
    {% include 'common/fragment_nav.html' %}
{% endblock header_tabs %}



{% block alerts %}
    {{ block.super }}
    {% if request.event.settings.talks_testmode %}
        <div class="alert alert-warning alert-margin">
            <strong>
                {% trans "Talk pages are currently in test mode. Please do not treat schedules or submissions as final, as they may change or be removed without notice." %}
            </strong>
        </div>
    {% endif %}
{% endblock alerts %}
