{% load i18n %}
{% load eventurl %}
{% load event_tags %}

{{ 'popover-profile'|json_script:"popover_toggle" }}
<nav class="login-hdr" aria-label="{% translate 'account' %}" style="{% if request.event and request.event.visible_logo_url %}margin-right: 18rem{% else %}margin-right: 0{% endif %}">

    {% if request.user.is_authenticated %}
        <div class="navigation-button">
            <a target="_blank" class="header-nav btn btn-outline-success" data-toggle="popover-profile">
                <i class="fa fa-user"></i> {{ request.user|short_user_label }}
                <i class="fa fa-solid fa-caret-down"></i>
            </a>
        </div>
    {% else %}
        <a href="{% url 'eventyay_common:auth.login' %}?next={{ request.get_full_path|urlencode }}">
            {% translate "Log in" %}
        </a>

    {% endif %}
</nav>
