{% load i18n %}
{% if return_checkinlists_url %}
    <p class="clearfix device-page-actions device-subpage-nav">
        <a href="{{ return_checkinlists_url }}" class="btn btn-default">
            <i class="fa fa-arrow-left"></i> {% trans "Return to check-in lists" %}
        </a>
        {% if organizer_devices_url and device_nav_current %}
            <a href="{{ organizer_devices_url }}" class="btn btn-default">
                {% trans "Connected devices" %}
            </a>
        {% endif %}
    </p>
{% endif %}
