{% extends "pretixcontrol/base.html" %}
{% load i18n static %}
{% load bootstrap3 %}
{% load formset_tags %}
{% block custom_header %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% url "control:pdf.css" %}">
    <link type="text/css" rel="stylesheet" href="{% static 'eventyay-common/css/settings.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'vendored/cropperjs/cropper.min.css' %}">
    <script defer src="{% static 'vendored/cropperjs/cropper.min.js' %}"></script>
    <script defer src="{% static 'eventyay-common/image_cropper.js' %}"></script>
    <script src="{% static 'eventyay-common/js/event-settings-images.js' %}" type="module"></script>
{% endblock %}
{% block title %}{% trans "Organizer" %}{% endblock %}
{% block content %}
    <h1>
        {% blocktrans with name=organizer.name %}Organizer settings{% endblocktrans %}
        {% if request.user.is_staff and staff_session %}
            <a href="{% url "eventyay_common:organizer.delete" organizer=organizer.slug %}"
                    class="btn btn-delete btn-danger hidden-print">
                <span class="fa fa-trash"></span>
            </a>
        {% endif %}
    </h1>

    <form action="" method="post" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form_errors sform %}
        {% bootstrap_form_errors form %}
        <div class="tabbed-form">
            <fieldset>
                <legend>{% trans "General" %}</legend>
                {% bootstrap_field form.name layout="control" %}
                {% bootstrap_field form.slug layout="control" %}
                {% comment 'Custom domain feature is temporarily disabled. Uncomment when ready for re-enablement.' %}
                {% if form.domain %}
                    {% bootstrap_field form.domain layout="control" %}
                {% endif %}
                {% endcomment %}
                {% bootstrap_field sform.imprint_url layout="control" %}
                {% bootstrap_field sform.contact_mail layout="control" %}
                {% bootstrap_field sform.organizer_info_text layout="control" %}
                {% bootstrap_field sform.event_team_provisioning layout="control" %}
            </fieldset>
            <fieldset>
                <legend>{% trans "Organizer page" %}</legend>
                {% bootstrap_field sform.organizer_logo_image layout="control" %}
                {% bootstrap_field sform.organizer_header_image layout="control" %}
                {% bootstrap_field sform.organizer_header_image_large layout="control" %}
                {% bootstrap_field sform.organizer_homepage_text layout="control" %}
                {% bootstrap_field sform.event_list_type layout="control" %}
                {% bootstrap_field sform.event_list_availability layout="control" %}
                {% bootstrap_field sform.organizer_link_back layout="control" %}
            </fieldset>
            <fieldset>
                <legend>{% trans "Community" %}</legend>
                {% bootstrap_field sform.community_follow_enabled layout="control" %}
                {% bootstrap_field sform.community_show_follower_count layout="control" %}
            </fieldset>
            <fieldset>
                <legend>{% trans "Localization" %}</legend>
                {% bootstrap_field sform.locales layout="control" %}
                {% bootstrap_field sform.region layout="control" %}
            </fieldset>
            <fieldset>
                <legend>{% trans "Shop design" %}</legend>
                <p class="help-block">
                    {% blocktrans trimmed %}
                        These settings will be used for the organizer page as well as for the default settings
                        for all events in this account that do not have their own design settings.
                    {% endblocktrans %}
                </p>
                {% bootstrap_field sform.primary_color layout="control" %}
                {% bootstrap_field sform.header_background_color layout="control" %}
                {% bootstrap_field sform.header_text_color layout="control" %}
                {% bootstrap_field sform.navigation_text_color layout="control" %}
                {% bootstrap_field sform.menu_text_scroll_over_color layout="control" %}
                {% bootstrap_field sform.theme_color_success layout="control" %}
                {% bootstrap_field sform.theme_color_danger layout="control" %}
                {% bootstrap_field sform.theme_color_background layout="control" %}
                {% bootstrap_field sform.hover_button_color layout="control" %}
                {% bootstrap_field sform.theme_round_borders layout="control" %}
                {% bootstrap_field sform.primary_font layout="control" %}
            </fieldset>
            <fieldset>
                <legend>{% trans "Video area" %}</legend>
                {% bootstrap_field sform.video_navigation_background_color layout="control" %}
                {% bootstrap_field sform.video_sidebar_text_color layout="control" %}
                {% bootstrap_field sform.video_sidebar_hover_color layout="control" %}
            </fieldset>
            <fieldset>
                <legend>{% trans "Gift cards" %}</legend>
                {% bootstrap_field sform.giftcard_expiry_years layout="control" %}
                {% bootstrap_field sform.giftcard_length layout="control" %}
            </fieldset>
            <fieldset id="tab-organizer-privacy">
                <legend>{% trans "Privacy" %}</legend>
                {% bootstrap_field sform.privacy_policy layout="control" %}
            </fieldset>
            <fieldset id="tab-organizer-change-history" data-no-submit>
                <legend>{% trans "Change history" %}</legend>
                {% include "pretixcontrol/includes/logs.html" with obj=organizer %}
            </fieldset>
        </div>
        <div class="form-group submit-group">
            <button type="submit" class="btn btn-primary btn-save">
                {% trans "Save" %}
            </button>
        </div>

    </form>

    <div class="modal fade" id="cropperModal" tabindex="-1" role="dialog" aria-labelledby="cropperModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="cropperModalLabel">{% trans "Crop Image" %}</h4>
                </div>
                <div class="modal-body">
                    <div class="img-container">
                        <img id="cropperImage" src="" alt="Picture">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Cancel" %}</button>
                    <button type="button" class="btn btn-primary" id="cropperSaveBtn">{% trans "Apply Crop" %}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}