{% load compress %}
{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html{% if rtl %} dir="rtl" class="rtl"{% endif %}>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "pretixcontrol/scss/auth.scss" %}"/>
        <link rel="stylesheet" type="text/x-scss" href="{% static "pretixcontrol/scss/main.scss" %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'common/css/_forms.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'common/css/_markdown_editor.css' %}" />
    {% endcompress %}
    {# Keep toastuiLoader outside the compress block so document.currentScript keeps data-toastui-* (see common/js/toastuiLoader.js). #}
    <script defer src="{% static 'common/js/toastuiLoader.js' %}" data-toastui-css="{% static 'vendored/toastui-editor/toastui-editor.min.css' %}" data-toastui-js="{% static 'vendored/toastui-editor/toastui-editor.min.js' %}" data-toastui-lang="{{ request.LANGUAGE_CODE|slice:':2' }}" data-toastui-t-undo="{% trans 'Undo' %}" data-toastui-t-redo="{% trans 'Redo' %}" data-toastui-t-underline="{% trans 'Underline' %}"></script>
    {# Keep tiptapLoader outside the compress block so document.currentScript keeps data-tiptap-* attributes (see common/js/tiptapLoader.js). #}
    <script type="module" src="{% static 'common/js/tiptapLoader.js' %}" data-tiptap-js="{% static 'editor/editor.js' %}" data-tiptap-css="{% static 'editor/editor.css' %}"></script>
    {% compress js %}
        <script defer src="{% static 'vendored/marked.min.js' %}"></script> {# used by orga JS for markdown rendering (e.g. orga/js/cfp_flow.js) #}
        <script defer src="{% static 'vendored/purify.min.js' %}"></script> {# used by orga JS for sanitizing rendered HTML #}
        <script defer src="{% static "common/js/base.js" %}"></script>
        <script defer src="{% static "vendored/choices/choices.min.js" %}"></script>
        <script defer src="{% static "common/js/formTools.js" %}"></script>
    {% endcompress %}
    {% if development_warning or debug_warning %}
        <link rel="shortcut icon" href="{% static "common/img/icons/favicon_debug.ico" %}">
    {% else %}
        <link rel="shortcut icon" href="{% static "common/img/icons/favicon.ico" %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static "pretixbase/img/icons/favicon-32x32.png" %}">
        <link rel="icon" type="image/png" sizes="194x194" href="{% static "pretixbase/img/icons/favicon-194x194.png" %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static "pretixbase/img/icons/favicon-16x16.png" %}">
    {% endif %}
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href='{% url "control:index" %}'>
                    <img src='{% static "pretixbase/img/eventyay-icon.svg" %}' />
                    {{ django_settings.INSTANCE_NAME }}
                </a>
            </div>
            <ul class="nav navbar-nav navbar-top-links navbar-right flip">
                {% if show_link_in_header_for_all_pages %}
                    {% for page in show_link_in_header_for_all_pages %}
                            <li>
                                <a href='{% url "page" slug=page.slug %}' title='{{ page.title|safe }}'>
                                    {{ page.title|safe }}
                                </a>
                            </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </nav>
    </div>
<div class="container">
    {% block content %}
    {% endblock %}
    <footer>
        {% with "href='https://eventyay.com'" as a_attr %}
            {% blocktrans trimmed %}
                powered by <a {{ a_attr }}>eventyay</a>
            {% endblocktrans %}
        {% endwith %}
        <ul class="list-inline text-center" style="margin-top: 20px">
            {% if show_link_in_footer_for_all_pages %}
                {% for page in show_link_in_footer_for_all_pages %}
                        <li>
                            <a href='{% url "page" slug=page.slug %}' title='{{ page.title|safe }}'>
                                {{ page.title|safe }}
                            </a>
                        </li>
                {% endfor %}
            {% endif %}
        </ul>
    </footer>
</div>
</body>
</html>
