{% extends 'pretixcontrol/items/base.html' %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% blocktrans with field=field_label %}Field settings: {{ field }}{% endblocktrans %}{% endblock %}

{% block inside %}
  <nav id="event-nav" class="header-nav">
    <div class="navigation">
      <div class="navigation-title">
        <h1>{% blocktrans with field=field_label %}Field settings: {{ field }}{% endblocktrans %}</h1>
      </div>
      {% include 'pretixcontrol/event/component_link.html' %}
    </div>
  </nav>

  <form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    {% bootstrap_form_errors form %}

    <fieldset>
      <legend>{% translate 'Settings' %}</legend>
      {% if field_id == 'order_email' %}
        {% bootstrap_field form.order_email_asked_twice layout='control' %}
        {% bootstrap_field form.checkout_email_helptext layout='control' %}
      {% elif field_id == 'order_phone' %}
        {% bootstrap_field form.checkout_phone_helptext layout='control' %}
      {% endif %}
    </fieldset>

    <div class="form-group submit-group">
      <div class="col-md-offset-3 col-md-9">
        <button type="submit" class="btn btn-primary btn-save">
          {% translate 'Save' %}
        </button>
        <a href="{% url 'control:event.products.orderforms' organizer=request.event.organizer.slug event=request.event.slug %}" class="btn btn-default btn-cancel">
          {% translate 'Back to order forms' %}
        </a>
      </div>
    </div>
  </form>
{% endblock %}
