{% extends "pretixcontrol/items/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load formset_tags %}
{% load escapejson %}
{% block title %}
    {% if question %}
        {% blocktrans with name=question.question %}Custom Field: {{ name }}{% endblocktrans %}
    {% else %}
        {% trans "Custom Field" %}
    {% endif %}
{% endblock %}
{% block inside %}
    {% if question %}
        {% blocktrans with name=question.question asvar header_title_var %}Custom Field: {{ name }}{% endblocktrans %}
    {% else %}
        {% trans "Custom Field" as header_title_var %}
    {% endif %}
    {% include "common/includes/header_nav.html" with header_title=header_title_var header_component_link="pretixcontrol/event/component_link.html" %}
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        <fieldset>
            {% bootstrap_field form.question layout="control" %}
            {% bootstrap_field form.type layout="control" %}
            {% bootstrap_field form.products layout="control" %}
            {% bootstrap_field form.required layout="control" %}
            <div class="alert alert-info alert-required-boolean">
                {% blocktrans trimmed %}
                If a Confirm Checkbox is marked as required, the user must check it to proceed.
                To allow the user to leave it unchecked, do not set the field as required.
                {% endblocktrans %}
            </div>
            <div id="valid-number">
                {% bootstrap_field form.valid_number_min layout="control" %}
                {% bootstrap_field form.valid_number_max layout="control" %}
            </div>
            <div id="valid-date">
                {% bootstrap_field form.valid_date_min layout="control" %}
                {% bootstrap_field form.valid_date_max layout="control" %}
            </div>
            <div id="valid-datetime">
                {% bootstrap_field form.valid_datetime_min layout="control" %}
                {% bootstrap_field form.valid_datetime_max layout="control" %}
            </div>
            <div id="answer-options" class="clearfix">
                <div class="form-group answer-options-group">
                    <label id="answer-options-heading" class="col-md-3 control-label">{% trans "Answer options" %}</label>
                    <div class="col-md-9 answer-options-content" role="group" aria-labelledby="answer-options-heading">
                        <noscript>
                            <p class="help-block">{% trans "Only applicable if you choose 'Choose one/multiple from a list' above." %}</p>
                        </noscript>
                        <div class="formset" data-formset data-formset-prefix="{{ formset.prefix }}">
                            {{ formset.management_form }}
                            {% bootstrap_formset_errors formset %}
                            <div data-formset-body>
                                {% for form in formset %}
                                    <div data-formset-form class="question-option-item">
                                        <div class="sr-only">
                                            {{ form.id }}
                                            {% bootstrap_field form.DELETE form_group_class="" layout="inline" %}
                                            {% bootstrap_field form.ORDER form_group_class="" layout="inline" %}
                                        </div>
                                        <div class="question-option-label">
                                            {% blocktrans trimmed with id=form.instance.identifier %}
                                                Answer option {{ id }}
                                            {% endblocktrans %}
                                        </div>
                                        <div class="question-option-row">
                                            <div class="question-option-field">
                                                {% bootstrap_form_errors form %}
                                                {% bootstrap_field form.answer layout='inline' form_group_class="" show_label=False %}
                                            </div>
                                            <div class="question-option-actions text-right flip">
                                                <button type="button" class="btn btn-default" data-formset-move-up-button aria-label="{% trans 'Move option up' %}">
                                                    <i class="fa fa-arrow-up" aria-hidden="true"></i>
                                                    <span class="sr-only">{% trans "Move option up" %}</span>
                                                </button>
                                                <button type="button" class="btn btn-default" data-formset-move-down-button aria-label="{% trans 'Move option down' %}">
                                                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                                                    <span class="sr-only">{% trans "Move option down" %}</span>
                                                </button>
                                                <button type="button" class="btn btn-delete btn-danger" data-formset-delete-button aria-label="{% trans 'Delete option' %}">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                    <span class="sr-only">{% trans "Delete option" %}</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <script type="form-template" data-formset-empty-form>
                                {% escapescript %}
                                    <div data-formset-form class="question-option-item">
                                        <div class="sr-only">
                                            {{ formset.empty_form.id }}
                                            {% bootstrap_field formset.empty_form.DELETE form_group_class="" layout="inline" %}
                                            {% bootstrap_field formset.empty_form.ORDER form_group_class="" layout="inline" %}
                                        </div>
                                        <div class="question-option-label">
                                            {% trans "New answer option" %}
                                        </div>
                                        <div class="question-option-row">
                                            <div class="question-option-field">
                                                {% bootstrap_field formset.empty_form.answer layout='inline' form_group_class="" show_label=False %}
                                            </div>
                                            <div class="question-option-actions text-right flip">
                                                <button type="button" class="btn btn-default" data-formset-move-up-button aria-label="{% trans 'Move option up' %}">
                                                    <i class="fa fa-arrow-up" aria-hidden="true"></i>
                                                    <span class="sr-only">{% trans "Move option up" %}</span>
                                                </button>
                                                <button type="button" class="btn btn-default" data-formset-move-down-button aria-label="{% trans 'Move option down' %}">
                                                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                                                    <span class="sr-only">{% trans "Move option down" %}</span>
                                                </button>
                                                <button type="button" class="btn btn-delete btn-danger" data-formset-delete-button aria-label="{% trans 'Delete option' %}">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                    <span class="sr-only">{% trans "Delete option" %}</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                {% endescapescript %}
                            </script>
                            <div class="question-option-add">
                                <button type="button" class="btn btn-default" data-formset-add>
                                    <i class="fa fa-plus"></i> {% trans "Add a new option" %}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group answer-options-after-gap">
                    <div class="col-md-offset-3 col-md-9"></div>
                </div>
            </div>
            {% bootstrap_field form.help_text layout="control" %}
            {% bootstrap_field form.identifier layout="control" %}
            {% bootstrap_field form.ask_during_checkin layout="control" %}
            {% bootstrap_field form.hidden layout="control" %}
            {% bootstrap_field form.print_on_invoice layout="control" %}

            <div class="form-group">
                <label class="col-md-3 control-label" for="id_dependency_question">
                    {% trans "Custom field dependency" %}
                    <br><span class="optional">{% trans "Optional" context "form" %}</span>
                </label>
                <div class="col-md-4">
                    {% bootstrap_field form.dependency_question layout="inline" form_group_class="inner" %}
                </div>
                <div class="col-md-5">
                    <script type="text/plain" id="dependency_value_val">{{ form.instance.dependency_values|escapejson_dumps }}</script>
                    {% bootstrap_field form.dependency_values layout="inline" form_group_class="inner" %}
                </div>
            </div>
        </fieldset>
        <div class="form-group submit-group">
            <button type="submit" class="btn btn-primary btn-save">
                {% trans "Save" %}
            </button>
        </div>
    </form>
{% endblock %}
