{% extends "common/base_public.html" %}

{% block body_attrs %}{{ block.super }} class="page-agenda"{% endblock %}

{% load event_tags %}
{% load staff_session %}
{% load i18n %}
{% load rules %}
{% load safelink %}

{% load presale_locale %}
{% load nav_tags %}
{% load static %}
{% block custom_header %}
    {% block alternate_link %}
        <link rel="alternate" type="application/atom+xml" title="{{ request.event.name|event_localize }} Schedule Versions" href="{{ request.event.urls.feed }}" />
        <link rel="alternate" type="application/json" title="{{ request.event.name|event_localize }} API" href="{{ request.event.api_urls.base.full }}" />
    {% endblock alternate_link %}
    {% block agenda_custom_header %}{% endblock agenda_custom_header %}
{% endblock custom_header %}



{% block header_tabs %}
    {% include "common/fragment_nav.html" with nav_context="agenda" %}
{% endblock header_tabs %}

{% block alerts %}
    {{ block.super }}
    {% if request.event.settings.talks_testmode %}
        <div class="alert alert-warning alert-margin">
            <strong>
                {% trans "Talk pages are currently in test mode. Please do not treat schedules or submissions as final, as they may change or be removed without notice." %}
            </strong>
        </div>
    {% endif %}
{% endblock alerts %}

{% block content %}
    {% if not request.event|get_feature_flag:"show_schedule" and not request.user.is_anonymous and not hide_visibility_warning %}
        <div id="event-nonpublic" class="d-print-none">
            <i class="fa fa-user-secret"></i>
            {% blocktranslate trimmed %}
                This schedule-related page is non-public. Only organisers can see it.
            {% endblocktranslate %}
        </div>
    {% endif %}
    {% block agenda_content %}{% endblock agenda_content %}
{% endblock content %}

{% block body_bottom %}
    {{ block.super }}
    {% is_wip_agenda_preview request as wip_preview %}
    {% if wip_preview %}
        <dialog id="agenda-wip-preview-leave-dialog" class="agenda-wip-preview-leave-dialog" aria-labelledby="agenda-wip-preview-leave-title" aria-describedby="agenda-wip-preview-leave-message">
            <div class="agenda-wip-preview-leave-dialog__card">
                <p class="agenda-wip-preview-leave-dialog__icon" aria-hidden="true">
                    <i class="fa fa-eye-slash"></i>
                </p>
                <h3 id="agenda-wip-preview-leave-title">{% translate "Leave schedule preview?" %}</h3>
                <p id="agenda-wip-preview-leave-message" class="agenda-wip-preview-leave-dialog__message">
                    {% blocktranslate trimmed %}
                        You are moving away from schedule preview mode. This will move you to the public view. You will only be able to see the schedule if it is public and released.
                    {% endblocktranslate %}
                </p>
                <div class="agenda-wip-preview-leave-dialog__actions">
                    <button type="button" class="btn btn-default" data-wip-preview-action="stay">{% translate "Stay in preview" %}</button>
                    <button type="button" class="btn btn-primary" data-wip-preview-action="leave">{% translate "Go to public view" %}</button>
                </div>
            </div>
        </dialog>
        <script type="module" src="{% static 'agenda/js/wip-preview-guard.js' %}"></script>
    {% endif %}
{% endblock body_bottom %}
