{% extends "agenda/base.html" %}

{% load vite %}
{% load html_signal %}
{% load i18n %}

{% block title %}{% translate "Featured Sessions" %} ::{% endblock title %}
{% block meta_title %}{% translate "Featured Sessions" %}{% endblock meta_title %}
{% block social_title %}{% translate "Featured Sessions" %}{% endblock social_title %}

{% block container_width %} main-schedule list-schedule{% endblock container_width %}

{% block agenda_custom_header %}
{% include "agenda/includes/pretalx_messages_script.html" %}
{% endblock agenda_custom_header %}

{% block header_right %}
{% include "common/fragment_header_user.html" with current_event=request.event nav_context="agenda" %}
{% endblock header_right %}

{% block agenda_content %}
<div class="featured-page">
    <h3 class="talk-title featured-page-title">{% translate "Featured Sessions" %}</h3>
    {% if has_featured_submissions %}
        <p>
            {% blocktranslate trimmed %}
                We prepared a list of exciting sessions, so you can get a feel for our
                conference. Please keep in mind that this is not our full schedule.
                We will follow up with the full schedule in time, stay tuned!
            {% endblocktranslate %}
        </p>
        {% html_signal "eventyay.agenda.signals.html_above_schedule_pages" sender=request.event request=request %}
        <div id="fahrplan" class="list">
            <script id="pretalx-schedule-meta" type="application/json">{{ schedule_meta_json|safe }}</script>
            {% if schedule_data_json %}<script id="pretalx-schedule-data" type="application/json">{{ schedule_data_json|safe }}</script>{% endif %}
            {% vite_app_scripts 'schedule' 'src/main-wc.js' fallback='schedule/pretalx-schedule.js' %}

            {% with event_tz=request.event.settings.timezone|default:request.event.timezone %}
            <pretalx-schedule event-url="{{ request.event.urls.base }}" version="{{ schedule_page_version|default:'' }}" locale="{{ request.LANGUAGE_CODE }}" timezone="{{ event_tz }}" format="list" is-featured-page style="--pretalx-clr-primary: {{ request.event.visible_primary_color }}" disable-auto-scroll></pretalx-schedule>
            {% endwith %}
            <noscript class="d-block">
                <div class="alert alert-info m-4">
                    <div></div>
                    <div>
                        {% blocktranslate trimmed with href=request.event.urls.schedule_nojs %}
                        To see our schedule, please either enable JavaScript or go <a href="{{ href }}">here</a> for our NoJS schedule.
                        {% endblocktranslate %}
                    </div>
                </div>
            </noscript>
        </div>
        {% html_signal "eventyay.agenda.signals.html_below_schedule_pages" sender=request.event request=request %}
    {% else %}
        <p>
            {% blocktranslate trimmed %}
                No featured sessions have been selected yet. Once our organisers highlight sessions,
                they will appear here. Please check back later!
            {% endblocktranslate %}
        </p>
    {% endif %}
</div>
{% endblock agenda_content %}
