{% load i18n eventsignal %}
<div class="dashboard custom">
    <div class="panel panel-default items widget-container widget-full no-padding">
        <div class="panel-heading">
            <h3 class="panel-title">
                {% trans "Event Dashboard" %}
            </h3>
        </div>
        <div class="panel-body">
            <p>
                {% trans "The event dashboard provides an overview of the three core components: Tickets, Talks and Speakers, and Video, enabling end to end event management. Ticketing and registration are handled through the Tickets module, session content and schedules are organized via Talks and Speakers, and the Video component supports engaging and interactive virtual events with integrated live interpretation." %}
            </p>
        </div>
    </div>
</div>
<div class="dashboard custom">
    {% if not request.event.has_subevents or subevent %}
        {% include "pretixcontrol/event/fragment_timeline.html" %}
    {% endif %}
    {% include "pretixcontrol/event/fragment_info_box.html" %}
</div>
<div class="dashboard custom">
    {% if has_ticket_access %}
    <div class="panel panel-default widget-container widget-small no-padding column">
        <div class="panel-heading">
            <h3 class="panel-title">
                {% trans "Tickets" %}
            </h3>
        </div>
        <div class="panel-body">
            <p>
                {% trans "Set up and configure ticketing for the event and sell add-ons such as premium access or Swag. Manage attendees, design custom badges, and streamline event marketing by sending targeted emails." %}
            </p>
            <p>
                {% trans "Go to" %}
                <a href="{% url 'control:event.index' organizer=request.organizer.slug event=request.event.slug %}">{% trans "Tickets Dashboard" %}</a>
            </p>
        </div>
    </div>
    {% endif %}
    <div class="panel panel-default widget-container widget-small no-padding {% if not has_video_access %}last-column{% else %}column{% endif %}">
        <div class="panel-heading">
            <h3 class="panel-title">
                {% trans "Talks and Speakers" %}
            </h3>
        </div>
        <div class="panel-body">
            <p>
                {% trans "Set up and configure content for the event, create calls for proposals and speakers and build a schedule. Manage the submission and review process, and select speakers." %}
            </p>
            {% if is_talk_event_created %}
                <p>
                    {% trans "Go to" %} <a href='{% url "orga:event.dashboard" event=request.event.slug %}'>{% trans "Talks Dashboard" %}</a>
                </p>
            {% else %}
                <p>
                    {% trans "Go to" %} <a href="#" data-toggle="modal" data-target="#alert-modal">{% trans "Talks Dashboard" %}</a>
                </p>
            {% endif %}
        </div>
    </div>
    {% if has_video_access %}
    <div class="panel panel-default widget-container widget-small no-padding last-column">
        <div class="panel-heading">
            <h3 class="panel-title">
                {% trans "Video" %}
            </h3>
        </div>
        <div class="panel-body">
            <p>
                {% trans "Set up and configure live video streams, online workshops with live-audio interpretation and chats. Offer virtual exhibitor booths with rich content and social media integration." %}
            </p>
            <p>
                {% trans "Go to" %}
                <a href="{% url 'eventyay_common:event.create_access_to_video' organizer=request.organizer.slug event=request.event.slug %}" target="_blank" rel="noopener noreferrer">{% trans "Video Configuration" %}</a>
            </p>
            {% if "interpretation" in request.event.plugins %}
            <p>
                {% trans "Go to" %}
                <a href="{% url 'plugins:interpretation:dashboard' organizer=request.organizer.slug event=request.event.slug %}">{% trans "Interpretation Dashboard" %}</a>
            </p>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% eventsignal request.event "eventyay.control.signals.event_dashboard_components" request=request %}

    <div class="modal popup-modal" id="alert-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-card">
                        <div class="modal-card-icon">
                            <i class="fa fa-cog big-rotating-icon"></i>
                        </div>
                        <div class="modal-card-content">
                            <h3>{% trans "Component not enabled!" %}</h3>
                            <p>{% trans "You need to enable this component first" %}</p>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Ok" %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
